<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="ace_b2bconnector" id="ace_b2bconnector">
			<module before="Magento_Backend" name="Ace_B2bConnector"/>
		</route>
	</router>
</config>
